!!!
%html
  %head
    %title Canadian Census
    = stylesheet_link_tag('application')
    = stylesheet_link_tag('http://fonts.googleapis.com/css?family=Open+Sans:400,700')
    = javascript_include_tag('application')
    = javascript_include_tag('https://maps.googleapis.com/maps/api/js?v=3.7&sensor=true&key=AIzaSyDWrbWJ46ET44B2Z0UFdqsT3DbsZXKXuqU')
    = javascript_tag('$.noConflict();')
  %body
    = yield
